{% extends 'base.html' %}

{% block content %}
  <h1>EDIT</h1>
  <form action="{% url 'articles:try_edit' article.pk %} ">
    <label for="title">TITLE:</label>
    <input type="text" id='title' name='title' value={{ article.title }}>
    <br>
    <label for="content">CONTENT: </label>
    <textarea name="content" id="content" cols="30" rows="30">{{ article.content }}</textarea>
    <br>
    <input type="submit" value='수정'>
  </form>
  <a href="{% url 'articles:detail' article.pk %}">BACK</a>
{% endblock content %}

