<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
</head>
<body>
  <a href="{% url 'lotto:lotto' %}">lotto</a>
  <form action="{% url 'lotto:lottop' %}">
    <label for="times">횟수 :</label>
    <input type="number", id="times", name="times">
    <label for="round">회차 :</label>
    <input type="number", id="round", name="round">
    <input type="submit">
  </form>
</body>
</html>