{% extends 'either_base.html' %}

{% block subtitle %}
  Eithers
{% endblock subtitle %}

{% block detail %}
<table class="table my-1">
  <thead>
    <tr class="fs-5 text-center">
      <th scope="col" class="col-2">번호</th>
      <th scope="col" class="col-5">제목</th>
      <th scope="col" class="col-2">작성자</th>
      <th scope="col" class="col-2">등록일</th>
      <th scope="col" class="col-1">조회수</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr>
        <th scope="row" class="text-center">{{ article.pk }}</th>
        <td><a href="{% url 'eithers:detail' article.pk %}" class="text-decoration-none text-black">{{ article.title }}</a></td>
        <td class="text-center">{{ article.user }}</td>
        <td class="text-center">{{ article.created_string }}</td>
        <td class="text-center">{{ article.vws }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<div class="left" style='width:400px;'><a href="{% url 'eithers:create' %}" class='d-inline btn btn-dark d-inline'>NEW</a>
  <a href="{% url 'eithers:random' %}" class='mx-1 d-inline btn btn-dark opacity-25 d-inline'>Random</a>
</div>
{% endblock detail %}  
